.leftgiohang{
    background-color: white;
    width: 65%;
    float: left;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px;
    height: fit-content;
    text-align: center;
    padding: 10px;
}
.rightgiohang{
    background-color: white;
    width: 29%;
    height: 100px;
    margin: 10px;
    margin-left: 0px;
    float: left;
    height: fit-content;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px;
}
.leftgiohang .th{
    align: center;
}